node_modules
*.orig
Copilot-Processing.md

# macOS system files
.DS_Store

#SpecStory
.specstory
/.what-is-this.md

reports/
TerminalAutoApproveResearchTaskReports/
awesome-copilot.code-workspace
active-instructions/
.gitignore
.vscode/settings.json
.vscode/extensions.json
scripts/custom-scripts/

