node_modules
*.orig
Copilot-Processing.md

# macOS system files
.DS_Store


# Local VSCode changes

#SpecStory
.specstory
/.what-is-this.md

# Changed Repo Files
.gitignore
.vscode/settings.json
.vscode/extensions.json

# Local Files and Folders
reports/
TerminalAutoApproveResearchTaskReports/
awesome-copilot.code-workspace
scripts/custom-scripts/


